/* Title:       footer stylesheet
   Theme URI:   http://www.casio.com
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


/* footer-nav
─────────────────────────────────────────────────────────────────────────────────── */

.footer-nav {
	display: none;
}

/* PC > 768px */
@media print, screen and (min-width: 48em) {
	.footer-nav {
		display: block;
		overflow: hidden;
		padding-top: 1em;
	}

	.footer-nav ul,
	.footer-nav li {
		margin: 0;
		list-style: none;
	}

	/* nav */

	.footer-nav nav .anchor {
		text-align: left;
	}

	.footer-nav nav ul,
	.footer-nav nav .column ul li {
		padding: 0;
	}

	.footer-nav nav a {
		display: inline-block;
		margin: .6em 0 0 0;
	}
	.footer-nav nav dd a:hover:after {
		height: 1px;
	}
	.footer-nav nav a[target="_blank"] em:after {
		content: "";
		position: relative;
		top: .1em;
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-left: .667em;
		background-image: url('../../theme/images/icons.svg');
		background-repeat: no-repeat;
		background-size: 17em 113em;
		background-position: 0em -52em;
	}

	/* share */
	.footer-nav .share {
		margin-bottom: 3.533em;
		text-align: right;
	}

	.footer-nav .share .share-icon {
		padding-right: 1.5%;
	}

	.footer-nav .share .small {
		display: inline-block;
		margin-right: .5em;
		line-height: 2.5;
		color: #606060;
	}

	.footer-nav .share ul {
		display: inline-block;
		padding: 0;
		vertical-align: middle;
	}

	.footer-nav .share ul:after {
		content: "";
		display: block;
		clear: both;
	}

	.footer-nav .share li {
		position: relative;
		float: left;
		margin-right: 0.8em;
		width: 1em;
		height: 1em;
		padding: 0;
	}

	.footer-nav .share li a {
		display: block;
		width: 1em;
		height: 1em;
		text-indent: 100%;
		overflow: hidden;
	}

	.footer-nav .share li a .icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	/* search form */
	.footer-nav .search-form .column {
		position: relative;
	}

	.footer-nav .search-form .column > div {
		display: inline-block;
		position: absolute;
		right: 1.5%;
		bottom: 1em;
	}
	.footer-nav .search-form .column > div form {
		display: block;
		height: 2.5em;
		padding-left: .66em;
		overflow: hidden;
	}

	.footer-nav .search-form .column > div [class*="icon-search"] {
		position: absolute;
		top: 50%;
		left: 1.2em;
		margin-top: -0.5em;
	}

	.footer-nav .search-form input {
		float: left;
		box-sizing: border-box;
		display: block;
		height: 2.5em;
		width: 15em;
		padding-left: 2em;
		vertical-align: middle;
		border: 1px solid #e4e4e4;
		-webkit-appearance: none;
	}
	.footer-nav .search-form input:focus {
		border-color: #003296;
		outline: 0;
	}
	.footer-nav .search-form button {
		float: left;
		box-sizing: border-box;
		height: 2.5em;
		min-width: 4em;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid #dcdcdc;
		border-left: none;
		font-size: 1em;
		text-align: center;
		background: #f5f5f5;
		cursor: pointer;
		-webkit-appearance: none;
	}
}


/* footer
─────────────────────────────────────────────────────────────────────────────────── */

#footer {
	position: relative;
	padding: 1em 0 1.6em;
}

#footer .grid-1 {
}

#footer a {
	text-decoration: none;
}

#footer .casio-logo {
	display: none;
}

#footer .copyright {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	padding: 0 1em;
	font-size: .66em;
	line-height: 2.4;
	text-align: right;
}

#footer .link {
	display: block;
	margin-bottom: 0.6em;
	line-height: 1.3;
}
#footer .link em {
	display: inline-block;
}
#footer .language {
	margin: 1.6em 0;
	line-height: 1;
	vertical-align: middle;
}
#footer .language a {
	color: #606060;
}
#footer .language [class*="icon-global"] {
	margin-right: .2em;
}

#footer .remark-b {
	font-size: 0.66em;
    text-align: center;
    margin-bottom: 1em;
}
#footer .remark-b img {
    margin-right: 8px;
    display: inline;
    vertical-align: middle;
    text-align: center;
    height: 30px;
}

/* SP < 768px */
@media print, screen and (max-width: 47.9em) {
	#footer a em {
		position: relative;
	}
	#footer a:hover em:after {
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;
		content: "";
		width: 100%;
		height: 2px;
		background: #003296;
	}
	
}

/* PC > 768px */
@media print, screen and (min-width: 48em) {
	#footer {
		padding: 0;
	}

	#footer .column {
		position: relative;
		padding: .66em 0;
	}

	#footer .elements {
		float: left;
		width: 80%;
	}

	#footer .casio-logo {
		display: inline-block;
	}

	#footer .casio-logo img,
	#footer .casio-logo img.svg {
		width: 7.58em;
	}
	#footer .casio-logo img,
	.no-svg #footer .casio-logo img.svg {
		display: none;
	}
	.no-svg #footer .casio-logo img,
	#footer .casio-logo img.svg {
		display: inline-block;
	}
	#footer .copyright,
	#footer .link {
		font-size: .66em;
		line-height: 1.6;
	}

	#footer .copyright {
		display: inline-block;
		position: static;
		margin-right: 1em;
		padding: 0;
		line-height: 1.6;
		background: #fff;
	}

	#footer a {
		position: relative;
	}

	#footer a:hover em {
		text-decoration: underline;
	}

	#footer .link,
	#footer .language a {
		display: inline-block;
	}

	#footer .link ~ .link {
		margin-left: 0.5em;
	}

	#footer .language {
		display: inline-block;
		float: right;
		margin: 0;
		font-size: 1em;
	}
	#footer .language [class*="icon-global"] {
		margin: 0 .2em;
		vertical-align: middle;
	}
	#footer .language em,
	#footer .language [class*="icon-global"] + span {
		font-size: .66em;
		line-height: 2.4;
	}
	
	
	.footer-nav .share li a .icon-grey-weixin {
    background: url(../images/ic1.png) 0 0 no-repeat;
    width: 18px;
    height: 16px;
	}
	.footer-nav .share li a .icon-grey-weibo {
    background: url(../images/ic2.png) 0 0 no-repeat;
    width: 18px;
    height: 16px;
	}
}
