/* Title:       Header stylesheet
   Theme URI:   http://www.casio.com
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* global-navigation
─────────────────────────────────────────────────────────────────────────────────── */
.global-navigation ul {
	margin: 0;
	padding: 0;
}
.global-navigation li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.global-navigation .btn-area,
.global-navigation .btn-more {
	display: none;
}

.global-navigation .btn-more a {
	width: 4em;
	text-align: center;
	cursor: pointer;
}

.global-navigation {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.global-navigation .main-navigation {
	position: absolute;
	right: 8.2%;
	top: 6px;
}

/* PC > 1200px */
@media print, screen and (min-width: 75em) {
	.global-navigation .main-navigation {
		right: 50%;
		margin-right: -33.3em;
	}
}

.global-navigation .main-navigation > li {
	position: relative;
	float: left;
	padding: 0 .5em;
	font-size: 1em;
}
.global-navigation .main-navigation > li > a {
	position: relative;
}
.global-navigation .main-navigation > li > a[target="_blank"]:after {
	position: absolute;
	right: -.4em;
	top: 50%;
	display: block;
	content: "";
	margin-top: -.8em;
	border-top: 4px solid #9db3d5;
	border-right: 4px solid #9db3d5;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	width: 0;
	height: 0;
}

.global-navigation .main-navigation > li:first-child {
	margin-left: 0;
}
.global-navigation .main-navigation > li.hover > a,
.global-navigation .main-navigation > li.hover > span {
	background: #eaf2ff;
}
.global-navigation .main-navigation > li.inactive {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	overflow: hidden;
}
.global-navigation .main-navigation > li.priority-1st > a,
.global-navigation .main-navigation > li.priority-1st > span {
	font-weight: bold;
}
.global-navigation .main-navigation > li > a,
.global-navigation .main-navigation > li > span {
	position: relative;
	display: inline-block;
	padding: 1.21em 1em;
	text-decoration: none;
	color: #003296;
	-webkit-tap-highlight-color: rgba(0, 50, 150, .2);
}
.global-navigation .main-navigation > li > span {
	cursor: default;
}
.global-navigation .main-navigation > li.btn-search > a {
	width: 3.2em;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	cursor: pointer;
}
.global-navigation .main-navigation > li > a:before,
.global-navigation .main-navigation > li > span:before {
	position: absolute;
	right: -.5em;
	top: 50%;
	display: block;
	margin-top: -.8em;
	content: "";
	width: 1px;
	height: 1.6em;
	background: #eaedf6;
}
.global-navigation .main-navigation > li.no-border > a:before,
.global-navigation .main-navigation > li.btn-more > a:before,
.global-navigation .main-navigation > li.btn-search > a:before {
	display: none;
}
.global-navigation .sub-navigation {
	padding-bottom: 1em;
}
.global-navigation .sub-navigation a {
	position: relative;
	display: block;
	margin-right: 1em;
	padding: .8em 2em .8em 1em;
	text-decoration: none;
	font-size: 1em;
	color: #28282a;
}
.global-navigation .sub-navigation a .icon {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -0.5em;
	color: #28282a;
}
.global-navigation .sub-navigation a:hover {
	color: #003197;
}
.global-navigation .sub-navigation a:hover .icon-ah-thin-r-grey-light {
	background-position: 0 -8em;
}
.global-navigation .main-navigation > li > .sub-navigation {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 4em;
	height: 0;
	overflow: hidden;
	padding-top: 1em;
	background: #eaf2ff;
	z-index: 1;
}
.global-navigation .main-navigation  li.hover  .sub-navigation,
.global-navigation .main-navigation  li.btn-more.hover  .sub-navigation {
	visibility: visible;
	height: auto;
	overflow: auto;
}
.global-navigation .main-navigation > li > .sub-navigation > ul {
}
.global-navigation .main-navigation > li > .sub-navigation > ul > li {
	margin: 0 0 0 1em;
}
.global-navigation .main-navigation > li > .sub-navigation.products a {
	white-space: nowrap;
}
.global-navigation .main-navigation > li > .sub-navigation.public {
	right: .5em;
	display: block;
}
.global-navigation .main-navigation > li > .sub-navigation.public a {
	white-space: nowrap;
}
.global-navigation .main-navigation > li > .sub-navigation.search {
	right: .5em;
	display: inline-block;
	width: 23em;
	padding-right: 0.65em;
	padding-left: 0.65em;
}
.global-navigation .main-navigation > li > .sub-navigation.search:after {
	content: "";
	display: block;
	clear: both;
}
.global-navigation .main-navigation > li > .sub-navigation.search input {
	-webkit-appearance: none;
	border: none;
	float: left;
	width: 17em;
	padding: .3em .2em .3em .533em;
	font-size: 1em;
	border: 1px solid #dcdcdc;
	border-right: none;
	height: 1.6em;
}
.global-navigation .main-navigation > li > .sub-navigation.search button {
	-webkit-appearance: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #dcdcdc;
	padding: .3em .66em .3em;
	font-size: 1em;
	background: #f5f5f5;
	cursor: pointer;
	height: 1.6em;
	box-sizing: content-box;
}

.global-navigation .main-navigation > li > .sub-navigation.more {
	right: 0;
	display: inline-block;
}
.global-navigation .main-navigation > li > .sub-navigation.more a {
	white-space: nowrap;
	text-align: left;
}

.global-navigation .main-navigation > li.btn-search {
	display: block;
}
.global-navigation .main-navigation > li.btn-search a {
	padding-top: 1em;
	padding-bottom: 1em;
}
.global-navigation .main-navigation > li.btn-search a img,
.no-svg .global-navigation .main-navigation > li.btn-search a img.svg {
	display: none;
}
.no-svg .global-navigation .main-navigation > li.btn-search a img,
.global-navigation .main-navigation > li.btn-search a img.svg {
	display: inline-block;
}
.global-navigation .main-navigation > li.btn-more {
	display: block;
	background: #003197;
}
.global-navigation .main-navigation > li.btn-more > a {
	font-weight: bold;
	color: #fff;
}
.global-navigation .main-navigation > li.btn-more.hover > a {
	background: none;
}

/* Products mega dropdown
─────────────────────────────────────────────────────────────────────────────────── */
/*#products-navigation {
	position: absolute;
	left: 0;
	top: 4em;
	width: 100%;
	z-index: 10;
}
#products-navigation.hidden {
	visibility: hidden;
	z-index: -1;
}
#products-navigation .frame {
	position: relative;
	width: 82%;
	padding-top: .67em;
	padding-bottom: .67em;
	padding-left: 0;
	padding-right: 0;
	background: #eaf2ff;
	font-size: 1em;
}*/

/* PC > 1024px */
/*@media print, screen and (min-width: 75em) {
	#products-navigation .frame {
		width: 65.8em;
	}
}

#products-navigation.solid {
	left: 50%;
	margin-left: -384px;
	width: 768px;
}
#products-navigation.solid .frame {
	margin: 0;
	width: 768px;
}
#products-navigation .frame .column {
	padding: 0;
}

#products-navigation .frame ul,
#products-navigation .frame li {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: inside;
}
#products-navigation .frame ul {
	position: relative;
	width: 100%;
}
#products-navigation .frame li {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
}

#products-navigation .frame li > a,
#products-navigation .frame li > span {
	position: relative;
	display: block;
	padding: .67em 2em;
	text-decoration: none;
	line-height: 1.33em;
	color: #282826;
}
#products-navigation .frame li > span {
	cursor: default;
}
#products-navigation .frame li.hover > a,
#products-navigation .frame li.hover > span {
	color: #003398;
}
#products-navigation .frame li > a .icon,
#products-navigation .frame li > span .icon {
	position: absolute;
	right: 1em;
	top: 50%;
	margin-top: -0.5em;
	color: #28282a;
}

#products-navigation .frame .t-size-large {
	margin: 0;
	padding: 1.4em 0 1.4em 2em;
	text-decoration: underline;
	font-size: 1em;
	font-weight: normal;
	color: #9d9d9d;
}
#products-navigation .frame .product-top,
#products-navigation .frame .category-top {
	display: none;
}

#products-navigation .frame .column {
	margin-left: 0%;
	margin-right: 0%;
	width: 50%;
}
#products-navigation .frame .column-2nd {
	background: #fff;
}

#products-navigation .frame .column-2nd > .t-size-large.hidden {
	visibility: hidden;
	z-index: -1;
}

#products-navigation .frame .column > ul {
	margin: 0;
}

#products-navigation .frame .column > ul > li.hover {
	background: #fff;
}

#products-navigation .frame .sub-navigation {
	visibility: hidden;
	position: absolute;
	right: 0;
	top: .67em;
	width: 50%;
	height: 0;
	overflow: hidden;
	background: #fff;
	background: rgba(0, 0, 255, .5);
}

#products-navigation .frame .column > ul > li.hover > .sub-navigation {
	display: none;
}

#products-navigation .frame .column-2nd ul.hidden {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 0;
	overflow: hidden;
	z-index: -1;
}
#products-navigation .frame .column-2nd ul > li.hover {
	background: #eaf2ff;
}
#products-navigation .frame .column:first-child li.hover > a .icon-ah-thin-r-grey-light,
#products-navigation .frame .column-2nd li.hover > a .icon-ah-thin-r-grey-light {
	background-position: 0 -8em;
}
*/
.global-navigation .main-navigation li a.js-toggle-head {
	display: none;
}

/* PC > 768px */
@media print, screen and (min-width: 48em) {
.global-navigation .main-navigation > li > .sub-navigation {
	display: block!important;
	}

	.global-navigation .main-navigation > li > .sub-navigation.more a + .sub-navigation {
		display: none!important;
	}
}

/* SP < 768px */
@media print, screen and (max-width: 47.9em) {
	header,
	main,
	.breadcrumb,
	#page-top,
	.banners,
	footer {
		-webkit-transition: -webkit-transform .2s linear;
		transition: transform .2s linear;
	}
	.open header,
	.open main,
	.open .breadcrumb,
	.open #page-top,
	.open .banners,
	.open footer {
		-webkit-transition: -webkit-transform .2s linear;
		transition: transform .2s linear;
		-webkit-transform: translate3d(-285px, 0, 0);
		transform: translate3d(-285px, 0, 0);
	}
	.open .cover-body {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		-webkit-transform: translate3d(-285px, 0, 0);
		transform: translate3d(-285px, 0, 0);
	}
	.global-navigation {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	.global-navigation .frame {
		position: fixed;
		top: 0;
		right: -285px;
		width: 285px;
		min-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		background: #dcdcdc;
		-webkit-transition: -webkit-transform .2s linear;
		transition: transform .2s linear;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 10;
	}
	.open .global-navigation .frame {
		-webkit-transform: translate3d(-285px, 0, 0);
		transform: translate3d(-285px, 0, 0);
	}
	.global-navigation .frame .main-navigation {
		left: 0;
		right: 0;
		top: 0;
		padding-top: 59px;
	}
	.global-navigation .frame .main-navigation > li {
		position: relative;
		border-bottom: 1px solid #666666;
		float: inherit;
		padding: 0;
		font-size: inherit;
	}
	.global-navigation .frame .main-navigation > li:first-child {
		border-top: 1px solid #666666;
	}
	.global-navigation .frame .main-navigation > li > a,
	.global-navigation .frame .main-navigation > li > span {
		position: relative;
		display: block;
		padding: .9em 0 .9em 1em;
		text-decoration: none;
		color: #1f1f1f;
		font-size: .875em;
		z-index: 1;
	}
	.global-navigation .main-navigation > li.inactive {
		visibility: visible;
		height: auto;
	}
	.global-navigation .main-navigation > li.hover a {
		background: transparent;
	}
	.global-navigation .main-navigation > li > a:before,
	.global-navigation .main-navigation > li > span:before {
		display: none;
	}
	.global-navigation .main-navigation > li.priority-1st > a,
	.global-navigation .main-navigation > li.priority-1st > span {
		font-weight: normal;
	}
	.global-navigation .main-navigation > li.company {
		border-bottom: none;
	}
	.global-navigation .main-navigation > li.company a,
	.global-navigation .main-navigation > li.company a {
		margin: 2em 2.4em;
		padding: 1.2em 0;
		text-align: center;
		background: #013298;
		color: #fff;
	}
	.global-navigation .main-navigation > li.company a:before,
	.global-navigation .main-navigation > li.company span:before {
		position: relative;
		right: inherit;
		top: inherit;
		display: inline-block;
		content: '';
		margin-top: initial;
		margin-right: .4em;
		width: 1em;
		height: 1em;
		background-color: transparent;
		background-image: url('../images/icons.svg');
		background-repeat: no-repeat;
		background-size: 17em 113em;
		background-position: -14em 0;
	}
	.global-navigation .main-navigation > li.btn-search {
		position: absolute;
		top: 0;
		left: 0;
	}
	.global-navigation .main-navigation > li.btn-search a {
		display: none;
	}
	.global-navigation .main-navigation > li.btn-search {
		border-bottom: none;
	}
	.global-navigation .main-navigation > li.btn-more {
		display: none;
	}
	.global-navigation li:not(.btn-search) > .sub-navigation {
		visibility: visible;
		position: relative;
		top: 0;
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
	.global-navigation .sub-navigation li {
		position: relative;
		background: #707070;
	}
	.global-navigation .sub-navigation li > a,
	.global-navigation .sub-navigation li > span {
		display: block;
		position: relative;
		margin-right: 0;
		padding: .9em 0 .9em 1em;
		text-decoration: none;
		color: #fff;
		font-size: .875em;
		z-index: 1;
	}
	.global-navigation .sub-navigation li > a:hover,
	.global-navigation .sub-navigation li > span:hover {
		color: #fff;
	}
	.global-navigation .sub-navigation li > a .icon,
	.global-navigation .sub-navigation li > span .icon {
		right: 1.3em;
		background-position: -16em 0;
	}
	.global-navigation .main-navigation > li > .sub-navigation,
	.global-navigation .main-navigation > li > .sub-navigation.products {
		display: block;
		height: auto;
	}
	.global-navigation .main-navigation > li.is-close > .sub-navigation,
	.global-navigation .main-navigation > li.is-close > .sub-navigation.products {
		display: none;
	}
	.global-navigation .main-navigation > li > .sub-navigation.products a {
		white-space: normal;
	}
	.global-navigation .main-navigation > li > .sub-navigation.public {
		right: inherit;
	}
	.global-navigation .main-navigation > li > .sub-navigation.public a {
		white-space: inherit;
	}
	.global-navigation .main-navigation > li > .sub-navigation.search {
		visibility: visible;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 275px;
		height: 2.5em;
		padding: 0;
		background: none;
	}
	.global-navigation .main-navigation > li > .sub-navigation.search:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 8px;
		display: inline-block;
		content: '';
		width: 16px;
		height: 16px;
		margin: auto;
		background-image: url('../images/icons.svg');
		background-repeat: no-repeat;
		background-size: 17em 113em;
		background-position: -12em -42em;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		z-index: 2;
	}
	.global-navigation .main-navigation > li > .sub-navigation.search input {
		position: absolute;
		top: 0;
		left: 0;
		-webkit-appearance: none;
		box-sizing: border-box;
		border-radius: 0;
		border: none;
		width: 210px;
		height: 100%;
		padding: .4em .3em .4em 2em;
		font-size: 16px;
		line-height: 1.5;
		z-index: 1;
	}

	.global-navigation .main-navigation > li > .sub-navigation.search button {
		position: absolute;
		top: 0;
		left: 210px;
		width: 55px;
		height: 100%;
		-webkit-appearance: none;
		box-sizing: border-box;
		border-width: 0 0 0 1px;
		padding: .4em 0;
	}

	.global-navigation .main-navigation > li > .sub-navigation > ul > li {
		margin: 0;
		border-top: 1px solid #666;
	}
	.global-navigation .main-navigation > li > .sub-navigation > ul > li > a:not(.js-toggle-head),
	.global-navigation .main-navigation > li > .sub-navigation > ul > li > span:not(.js-toggle-head) {
		padding-left: 2.1em;
	}
	.global-navigation .main-navigation > li > .sub-navigation li > .sub-navigation {
		display: none;
	}
	.global-navigation .main-navigation > li > .sub-navigation li.js-open > .sub-navigation {
		display: block;
	}
	.global-navigation .main-navigation > li > .sub-navigation .sub-navigation li {
		border-top: 1px solid #666;
	}
	.global-navigation .main-navigation > li > .sub-navigation .sub-navigation li > a,
	.global-navigation .main-navigation > li > .sub-navigation .sub-navigation li > span {
		padding-left: 3.3em;
	}

	.global-navigation .main-navigation li.js-toggle {
		position: relative;
	}
	.global-navigation .main-navigation li.js-toggle.js-open:before {
		background-position: -2em -32em;
	}
	.global-navigation .sub-navigation li.js-toggle:before {
		background-position: -16em -30em;
	}
	.global-navigation .sub-navigation li.js-toggle.js-open:before {
		background-position: -16em -32em;
	}
	.global-navigation .sub-navigation li.js-toggle > a:first-child .icon,
	.global-navigation .sub-navigation li.js-togglei > span:first-child .icon {
		display: none;
	}
	.global-navigation .main-navigation > li:not(.js-toggle):not(.btn-search):not(.company):before {
		position: absolute;
		right: 1em;
		top: 1.4em;
		display: inline-block;
		content: '';
		margin-top: -0.5em;
		width: 1em;
		height: 1em;
		background-image: url('../images/icons.svg');
		background-repeat: no-repeat;
		background-size: 17em 113em;
		background-position: -10em 0;
		z-index: 2;
	}

	.global-navigation .btn-area {
		display: block;
		position: absolute;
		right: 0;
		top: 7px;
		width: 35px;
		height: 45px;
		-webkit-transition: -webkit-transform .2s linear;
		transition: transform .2s linear;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.open .global-navigation .btn-area {
		-webkit-transform: translate3d(-285px, 0, 0);
		transform: translate3d(-285px, 0, 0);
	}

	.global-navigation .btn-menu {
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 45px;
		opacity: 1;
		z-index: 1;
		-webkit-transition: opacity .25s linear;
		transition: opacity .25s linear;
	}
	.open .global-navigation .btn-menu {
		opacity: 0;
	}
	.global-navigation .btn-menu img.svg,
	.global-navigation .btn-close img.svg {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: auto;
		text-align: center;
		line-height: 45px;
	}
	.global-navigation .btn-close {
		visibility: hidden;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 35px;
		height: 45px;
		opacity: 0;
		z-index: -1;
		-webkit-transition: opacity .5s linear;
		transition: opacity .5s linear;
	}
	.global-navigation .btn-close img.svg {
		-webkit-transform: scale(1.25);
		transform: scale(1.25);

	}
	.open .global-navigation .btn-close {
		visibility: visible;
		opacity: 1;
		z-index: 2;
	}

/*	#products-navigation {
		display: none;
	}*/

	.global-navigation .main-navigation li > a:not(.js-toggle-head) {
		padding-right: 3em;
	}
	.global-navigation .main-navigation li.js-toggle > a:not(.js-toggle-head) {
		margin-right: 3em;
		padding-right: 0;
	}
	.global-navigation .main-navigation li a.js-toggle-head {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 3em;
		height: 100%;
		padding: 0em;
		border-left: 1px solid #666;
		border-bottom: 1px solid #666;
		-webkit-tap-highlight-color: transparent;
	}
	.global-navigation .main-navigation li a.js-toggle-head .icon {
		position: absolute;
		top: 1.2em;
		left: 0;
		right: 0;
		margin: auto;
		width: 14px;
		height: 14px;
		background: none;
	}
	.global-navigation .main-navigation li a.js-toggle-head .icon img.svg {
		display: block;
		height: 14px;
		width: 14px;
		pointer-events: none;
	}
	.global-navigation .main-navigation li > a.js-toggle-head .icon.minus,
	.global-navigation .main-navigation li.js-open > a.js-toggle-head .icon.plus {
		display: none;
	}
	.global-navigation .main-navigation li.js-open > a .icon.minus,
	.global-navigation .main-navigation li > a.js-toggle-head .icon.plus {
		display: block;
	}
	.global-navigation .main-navigation > li.js-toggle:not(.is-close) ~ li > .icon.plus {
	 margin: -.1em;
	}
	.global-navigation .main-navigation .sub-navigation a.js-toggle-head {
		box-sizing: border-box;
		height: 100%;
		max-height: 3.3em;
	}
	.main-navigation .js-toggle ~ .js-toggle {
		margin-top: 0;
	}
}
